#login-btn , #forget-pass{
    -fx-background-radius: 10;
}

#login-btn{
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
}

#forget-pass{
    -fx-text-fill:  #2196f3;
    -fx-background-color: white;
}